*{
    margin: 0;
    padding: 0;
    border: 0px;
    font-family: monospace, sans-serif;

    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

h1, h2{
    margin: auto;
    color: 	black;
}

#top{
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #595959;

    border-bottom: 1px solid black;
}

#middle {
    flex: 19;
    background-color: grey;
}

#loginDiv,#mainDiv{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#loginDiv{
    display: none
}

#login,#logs,#controlPanel{
    height: 100%;
}

.button {
    width: 100px;
    height: 50px;
    background-color: lightgray;
    color:grey;

    transition-property: opacity;
    transition-timing-function: ease-out
}

.button:hover{
    background-color: grey;
    color: lightgrey;
}

#login {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 25%;
    height: 75%;
    background-color: 	#FF8264;
}

#login-title {
    flex: 1;
    border: 1px solid black;
    display: flex;
}

#auth {
    flex: 7;
    display: flex;

    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    border: 1px solid black;
    border-top: none;
}

.auth-section {
    flex: 1;
    display: flex;

    flex-direction: column;
    justify-content: stretch;
    align-items: stretch; 
}

.label-input-pair{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #292a2d;
    justify-content: center;
    align-items: center;
}

.label-input-pair > * {
    height: 25px;
    width: 70%;
}

#controlPanel{
    flex: 3;
    display: flex;
}

#controlPanel>div{
    flex: 1;
    margin: auto;

    border: 1px solid black;
}

#logs{
    flex: 1;
    background-color: white;
    border-left: 1px solid black;
    box-shadow: -3px  0px 5px rgba(0, 0, 0, 0.1)
}